@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  background-color: #fdfdfd;
}

img {
  margin: 0 auto;
}
.center_img img {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cursor_svg {
  background-image: url("/Cursor.svg");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
}
@media screen and (max-width: 411px) {
  h1 {
    line-height: 36px;
  }
}
@media screen and (max-width: 390px) {
  h1 {
    line-height: 36px;
  }
}
@media screen and (max-width: 360px) {
  h1 {
    line-height: 36px;
  }
  h3 {
    line-height: 2rem;
  }
}
